/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;

}

.container {
  overflow: hidden;
  background-color: #A1ed;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 20px , 0;
  padding: 20px;
}

.logo{
  width: 80px;
}

ul li {
  display: inline-block;
  
}

header ul li a{
  color: #fff;
  text-decoration: none;
  font-weight:bolder;
  margin: 0 30px;
}

header ul li {
  transition: 0.3s;

}

header ul li:hover {
  transform: scale(1.1);
  
}

.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.content .text {
  width: 40%;
  color: #fff;
}

.content .text h2 {
  font-size: 40px;
  text-transform: uppercase;
}

.content .text p {
  font-size: 18px;
  margin: 20px 0;
}

.content .text .link {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: rgb(230, 25, 25);
  padding: 8px 15px;
  border-radius: 20px;
}

.content .image {
  width: 30%;
}

.content .image img {
  width: 180px;
}

.icons {
  position: absolute;
  bottom:20px;
  left: 50%;
  transform: translateX(-50%);
  


}

.icons img {
  width: 50px;
  transition: 0.3s;
}

.icons img:hover{
  transform: scale(1.2);
  cursor: pointer;
  
}